asgiref==3.8.1
boto3==1.34.138
botocore==1.34.138
contourpy==1.2.1
crispy==0.7.4
cycler==0.12.1
dj-database-url==0.5.0
Django==5.0.4
django-crispy-forms==2.1
django-storages==1.14.3
fabio==2024.4.0
fonttools==4.51.0
gunicorn==22.0.0
h5py==3.11.0
hdf5plugin==4.4.0
jmespath==1.0.1
kiwisolver==1.4.5
lxml==5.2.1
matplotlib==3.8.4
numpy==1.26.4
pillow==10.3.0
psycopg2==2.9.9
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
s3transfer==0.10.2
silx==2.1.0
sqlparse==0.5.0
stripe==9.4.0
